@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  font-family: "Manrope", sans-serif;
  background-image: url("../../public/BffullGreen.webp"),
    url("../../public/BffullBlue.webp"), url("../../public/BffullGreen.webp"),
    url("../../public/BffullBlue.webp"), url("../../public/BffullBlue.webp"),
    url("../../public/BffullGreen.webp"), url("../../public/BffullBlue.webp");
  background-position: top 0 left 42px, top -400px left -700px,
    top 745px right -258px, top 456px right -290px, bottom -1430px left -600px,
    bottom -1451px left 237px, bottom -1592px right -171px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat;
  background-size: 581px 572px, 1176px 1273px, 430px 465px, 549px 543px,
    784px 849px, 774px 762px, 784px 849px;
  background-color: rgb(7, 7, 8);
}

a {
  text-decoration: none;
  color: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}
