@import "../../../styles/variables";

.modalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 20, 23, 0.5);
  z-index: 999;
}

.modal {
  position: absolute;
  max-width: 177px;
  max-height: 134px;
  border-radius: 8px;
  background: #161f37;
  right: 300px;
  top: 100px;
  padding: 18px;
}

.editContainer {
  display: flex;
  justify-content: space-between;
}

.editImg {
  cursor: pointer;
}

.text {
  color: $accent;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}
