@import "../../styles/variables";

.container {
  width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
  margin: auto;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
}

.logoContainer {
  display: flex;
}

.siteName {
  color: $accent;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
}

.pages {
  color: $accent;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
}

.userPhoto {
  width: 44px;
  height: 44px;
}
