@import "../../../styles/variables";

.container {
  background-image: url("../../../../public/startPage.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;
  height: 100vh;
}
.container::after {
  content: "";
  position: absolute;
  top: -132px;
  left: 400px;
  width: 387px;
  height: 381px;
  border-radius: 387px;
  background: rgba(188, 230, 210, 0.4);
  filter: blur(104.8543701171875px);
}

.container::before {
  content: "";
  position: absolute;
  top: -231px;
  left: -494px;
  width: 784px;
  height: 849px;
  border-radius: 849px;
  background: rgba(64, 112, 205, 0.5);
  filter: blur(104.8543701171875px);
}

.title {
  color: $accent;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.8px;
  padding-top: 273px;
}
.text {
  color: $accent;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.36px;
  margin-top: 14px;
  width: 485px;
}
