@import "../../../styles/variables";

.container {
  background-image: url("../../../../public/startPage.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;
  height: 100vh;
  padding-left: 100px;
}

.title {
  color: $accent;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.8px;
  padding-top: 273px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 400px;
  margin-top: 28px;
}

.inputContainer:focus {
  outline: none;
  border: 1px solid rgba(243, 243, 243, 0.5);
}

.btnContainer {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.link {
  color: $accent;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  text-decoration-line: underline;
  text-align: center;
  margin-top: 14px;
}
