@import "../../styles/variables";

.userContainer {
  display: flex;
  gap: 14px;
  align-items: center;
}

.userPhoto {
  width: 44px;
  height: 44px;
}

.userName {
  color: $accent;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
