@import "../../../styles/variables";

.modalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 20, 23, 0.5);
  z-index: 999;
}

.modal {
  background-image: url("../../public/BffullGreen.webp"),
    url("../../public/BffullBlue.webp");
  background-position: top -170px left -170px, top 200px left 200px;
  background-repeat: no-repeat, no-repeat;
  background-size: 455px 459px, 543px 537px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 500px;
  height: 426px;
  border-radius: 16px;
  background-color: #161f37;
}

.editModalClose {
  position: absolute;
  right: 18px;
  top: 18px;
  cursor: pointer;
}

.userPhoto {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  border-radius: 50%;
}

.editImg {
  position: absolute;
  top: 134px;
  left: 234px;
}

.userAvatarContainer {
  display: flex;
  justify-content: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 66px;
}

.inputContainer:focus {
  outline: none;
  border: 1px solid rgba(243, 243, 243, 0.5);
}

.btnContainer {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-top: 25px;
}
